# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

# Database
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Frontend
node_modules/
