
services:
  db:
    image: mysql:8.0
    restart: always
    container_name: codebattle-mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Ho_Chi_Minh
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u${DB_USER} -p${DB_PASSWORD} || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - codebattle_net

  redis:
    image: redis:7-alpine
    restart: always
    container_name: codebattle-redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - codebattle_net

  backend:
    build:
      context: ./backend
    image: codebattle-backend:latest
    container_name: codebattle-backend
    command: daphne -b 0.0.0.0 -p 8000 code_battle_api.asgi:application
    restart: always
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - codebattle_net

  worker:
    image: codebattle-backend:latest
    container_name: codebattle-worker
    command: celery -A code_battle_api worker --loglevel=info
    restart: always
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      backend:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - codebattle_net

  frontend:
    image: node:18-alpine
    container_name: codebattle-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    depends_on:
      - backend
    networks:
      - codebattle_net

volumes:
  db_data:
  redis_data:
  frontend_node_modules:


networks:
  codebattle_net:
    driver: bridge